<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSblqhOGo1gYABRv_dHZUxqGIj0uybyA0</string>
	<key>GCM_SENDER_ID</key>
	<string>1019500895610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abubakar.ChatErrorNill</string>
	<key>PROJECT_ID</key>
	<string>chaterrornil</string>
	<key>STORAGE_BUCKET</key>
	<string>chaterrornil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019500895610:ios:075466a3d2807cafe80ac3</string>
</dict>
</plist>